.header-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 12px 60px;

  &__logo {
    width: fit-content;
    height: fit-content;
  }

  &__dropdown-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 400;
      font-size: 1.8rem;
      min-width: 164px;
      cursor: pointer;

      .label {
        margin-right: 16px;
      }

      .value {
        font-weight: 700;
      }

      img {
        width: 40px;
        height: 40px;
        margin-left: 4px;
      }
    }

    .dropdown-list {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 999;
      width: 100%;

      li {
        padding: 12px 24px;
        font-size: 0.9rem;
        cursor: pointer;
        white-space: nowrap;

        &:first-child {
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }

        &:last-child {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }

        &:hover {
          background-color: #f2f2f2;
        }

        &.selected {
          font-weight: bold;
          background-color: #eaeaea;
        }
      }
    }
  }
}

@media (max-width: 1728px) {
  .header-container {
    height: 64px;
    padding: 16px 30px;

    &__logo {
      width: 46px;
      height: 24px;
    }

    &__dropdown-wrapper {
      .dropdown {
        font-size: 0.9rem;
        border-radius: 12px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .dropdown-list {
        border-radius: 12px;

        li {
          font-size: 0.9rem;
        }
      }
    }
  }
}