:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-image: url("/assets/images/homepage-background.png");
  background-color: #4E5B31;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
}

.tables-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 60px 12px 60px;
  box-sizing: border-box;
  overflow: hidden;
  .title {
    font-size: 5rem;
    color: #ffffff;
    font-weight: 700;
  }
}

app-table {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
}

@media (max-width: 1728px) {
  .tables-wrapper {
    padding: 0 30px 12px 30px;
  }
}
