<div class="table-container">
  <div class="table-container__header">
    <div class="row-wrapper">
      <div class="row">
        <div class="column"></div>
        <div class="column" title="Nr Comandă">Nr Comandă</div>
        <div class="column" title="Client">
          {{ type === TableType.SALES ? "Client" : "Furnizor" }}
        </div>
        <div class="column" title="Agent">Agent</div>
        <div class="column" title="Data">Data</div>
        <!-- <div class="column" title="Zona">Zonă</div> -->
        <!-- <div class="column" title="Status">Status</div> -->
        <div class="column" title="Motiv">Motiv</div>
        <div class="column" title="Responsabil">Responsabil</div>
        <div class="column" title="Durată Blocare">Durată Blocare</div>
        <div class="column" title="Livrare parțială">L/P</div>
        <div class="column total" title="Total blocaj">
          <img src="/assets/images/timer-icon.svg" />Total blocaj
        </div>
      </div>
    </div>
  </div>
  <div class="table-container__body">
    <div class="row-wrapper scrollable">
      @for (item of data; track item.orderNumber) {
      <div class="row">
        <div class="column">
          <div class="background" (click)="openRowDetails(item, type)">
            <img src="/assets/images/details-icon.png" />
          </div>
        </div>
        <div
          class="column"
          pTooltip="Enter your username"
          tooltipPosition="right"
        >
          {{ displayValue(item.orderNumber) }}
        </div>
        <div class="column" [title]="displayValue(item.client)">
          {{ displayValue(item.client) }}
        </div>
        <div class="column" [title]="displayValue(item.agent)">
          {{ displayValue(item.agent) }}
        </div>
        <div class="column" [title]="displayValue(item.data)">
          {{ displayValue(formatDate(item.data)) }}
        </div>
        <!-- <div class="column" [title]="displayValue(item.zone)">
          {{ displayValue(item.zone) }}
        </div>
        <div class="column status" [title]="displayValue(item.status)">
          <span [ngClass]="{ 'has-status': item.status }">
            {{ displayValue(item.status) }}
          </span>
        </div> -->
        <div class="column" [title]="displayValue(item.reason)">
          {{ displayValue(item.reason) }}
        </div>
        <div class="column" [title]="displayValue(item.responsive)">
          {{ displayValue(item.responsive) }}
        </div>
        <div class="column" [title]="formatDuration(item.lockDuration)">
          {{ formatDuration(item.lockDuration) }}
        </div>

        <div class="column" [title]="displayValue(item.partialDelivery)">
          {{ displayValue(item.partialDelivery) }}
        </div>
        <div
          class="column total"
          [ngClass]="{
            'has-value': formatDuration(item.totalBlockage) !== '-'
          }"
          [title]="formatDuration(item.totalBlockage)"
        >
          {{ formatDuration(item.totalBlockage) }}
        </div>
      </div>
      }
    </div>
  </div>
</div>
