:host {
  padding-bottom: 30px;
}
.table-container {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background: white;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 32px;

  &__header {
    flex: 0 0 auto;
    background: #fff;
    z-index: 1;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-radius: 24px;
    margin-bottom: 22px;
    .row-wrapper {
      .row {
        .column {
          font-weight: 700;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0;
          color: #000000;
          &:first-child {
            color: #131e29;
            font-size: 44px;
          }
          &.total {
            display: flex;
            align-items: center;
            border-left: 2px solid #bcc3ca;
            img {
              width: 32px;
              height: 32px;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar-track {
      border-radius: 24px;
      background-color: #eaecee;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #eaecee;
      border-radius: 24px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 24px;
      background-color: #131e29;
    }
    .row-wrapper {
      .row {
        .column {
          font-weight: 400;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0;
          color: #1e1103;
          &:first-child {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-sizing: border-box;
            .background {
              width: 87px;
              height: 69px;
              background-color: #dedede;
              border-radius: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            img {
              width: 35px;
              height: 35px;
            }
          }
          &.status {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              padding: 4px 8px;
              background-color: #e90b0b;
              border-radius: 8px;
              font-size: 28px;
              line-height: 1;
              color: white;
              white-space: nowrap;
              background-color: #e90b0b;
            }
          }
          &.total {
            background-color: #e90b0b;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-weight: 700;
          }
        }
      }
    }
  }

  .row-wrapper {
    padding-right: 68px;
    box-sizing: content-box;
  }

  .scrollable {
    overflow-y: auto;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 104px;
    align-items: center;
    border-bottom: 2px solid #bcc3ca;
    box-sizing: border-box;

    &:last-child {
      border-bottom: none;
    }
  }

  .column {
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 1rem;
    line-height: 1;
  }

  .row .column:first-child {
    text-align: center;
  }
}

@media (max-width: 1728px) {
  .table-container {
    padding-bottom: 30px;
    &__header {
      .row-wrapper {
        .row {
          .column {
            font-size: 16px;
            &:first-child {
              font-size: 22px;
            }
            &.total {
              img {
                width: 16px;
                height: 16px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    &__body {
      .row-wrapper {
        .row {
          .column {
            font-size: 16px;
            &:first-child {
              .background {
                width: 43px;
                height: 34px;
                border-radius: 12px;
              }
              img {
                width: 17.5px;
                height: 17.5px;
              }
            }
            &.status {
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .row {
      height: 52px;
    }

    .column {
      font-size: 0.5rem;
    }
  }
}
