<div class="table-container">
  <div class="table-container__header">
    <div class="row-wrapper">
      <div class="row">
        <div class="column">{{ title }}</div>
        <div class="column">Nr Comanda</div>
        <div class="column">Client</div>
        <div class="column">Agent</div>
        <div class="column">Data</div>
        <div class="column">Zona</div>
        <div class="column">Status</div>
        <div class="column">Motiv</div>
        <div class="column">Responsabil</div>
        <div class="column">Durata Blocare</div>
        <div class="column">Livrare partiala</div>
        <div class="column total">
          <img src="/assets/images/timer-icon.svg" />Total blocaj
        </div>
      </div>
    </div>
  </div>
  <div class="table-container__body">
    <div class="row-wrapper scrollable">
      @for (item of data; track item.orderNumber) {
      <div class="row">
        <div class="column">
          <div class="background" (click)="openRowDetails(item)">
            <img src="/assets/images/details-icon.png" />
          </div>
        </div>
        <div class="column" pTooltip="Enter your username" tooltipPosition="right">{{ displayValue(item.orderNumber) }}</div>
        <div class="column">{{ displayValue(item.client) }}</div>
        <div class="column">{{ displayValue(item.agent) }}</div>
        <div class="column">{{ displayValue(formatDate(item.data)) }}</div>
        <div class="column">{{ displayValue(item.zone) }}</div>
        <div class="column status">
          <span [ngClass]="{ 'has-status': item.status }">
            {{ displayValue(item.status) }}
          </span>
        </div>
        <div class="column">{{ displayValue(item.reason) }}</div>
        <div class="column">{{ displayValue(item.responsive) }}</div>
        <div class="column">{{ formatDuration(item.lockDuration) }}</div>

        <div class="column">{{ displayValue(item.partialDelivery) }}</div>
        <div
          class="column total"
          [ngClass]="{
            'has-value': formatDuration(item.totalBlockage) !== '-'
          }"
        >
          {{ formatDuration(item.totalBlockage) }}
        </div>
      </div>
      }
    </div>
  </div>
</div>
